body{
    color: black ;
    background-color:rgb(140, 157, 168) ;
    font-family: Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-radius: 50px;
    width: 900px;
    margin: auto;
    padding: 15px;
    margin-top: 30px;
    }

    h1 {
    font-family: serif;
    color: rgb(163, 82, 136);
    text-shadow: 2px 2px;
    }
     
    #itallic {
        font-style: italic;
        font-size: 1.3em;
    }
    
    h2, h3, h4 {
        font-family: serif;
        color: rgb(163, 82, 136); 
    }

    #rule{
        font-weight: bold;
    }

    table, th, td {
        border: 1px solid black;
        width: 60%;
        border-collapse: collapse;
        background-color: rgb(235, 181, 161);
        padding: 5px;
    } 

    h4 {
        text-decoration: underline;
    }

    .abrev{
        font-weight: bolder;
    }

    footer{
        font-size: larger;
        border-style: 1px solid black;
    }
    